<link rel="stylesheet" href="/css/footer.css">
<footer>
<div class="footer">
    <h2>Footer</h2>
<li>Contact Number</li>
<li>Social media</li>
<li>Carrer</li>
<li>Get set work</li>
<li>What's new</li>
</div>
</footer>