<link rel="stylesheet" href="/css/style.css">
<h1>
    <title><%=title%></title>
</h1>

<div class="profile">
    <h2>Signed in as <%=user.name%></h2>
    <p><%=user.name%></p>
    <p><%=user.email%></p>
</div>