*{
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(91, 91, 226);
    ul{
    display: flex;
    font-weight: 700;
    justify-content: space-around; 
    align-items: center;
    padding: 1%;
    font-size: 1.5rem;
    color: white;
    }
    li{
        list-style-type: none;
    }
    button{
        border: none;
        padding: 10px;
        border-radius: 20px;
        background-color: rebeccapurple;
        color: white;
        font-weight: 700;
    }
}