#home-container{
   display: flex;
   height:100%;
   #feed-posts{
    width: 70%;
     h4{
        border: 1px solid lightgray; 
        padding: 10px;
     }
    }
   #friends{
    width: 30%;
    padding: 20px;
    border: 1px solid lightgray;

   p{
    border: 2px solid lightgray;
    padding: 20px;
   }
    a{
     text-decoration: none;
     font-size: 2rem;
    }
   }

}