<div>
    <h1>Post's comments</h1>
    <p>Subject : Comments On Post</p>
    <br>
    <h1>User: <b><%=comment.user.name%></b></h1>
    <h2>Your Comment </h2> <h1><b><%=comment.content%></b></h1><p>got published !!! </p>

<br>
<br>
<p>Thank you fo using <h3>Codebook :) </h3></p>
</div>